@use '../../_variables' as vars;

.filter {
  margin-bottom: 10px;
  &__title {
    display: block;
    margin-bottom: 5px;
  }
  &__group {
    & > div {
      margin-bottom: 2px;
      margin-right: 15px;
    }
  }
}
