.RssFeed {
	&__container {
		display: flex;
		flex-direction: column;
		& > div:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__item {
		display: flex;
		padding: 20px 25px;
		justify-content: flex-start;
		//flex-direction: column;
		&_image {
			max-width: 200px;
			max-height: 200px;
			overflow: hidden;
			border-radius: 20px;
		}
		&_text {
			margin-left: 20px;
		}
	}
}
