@use "../../_variables" as vars;

:global .text-h1 {
	font-size: 2rem;
}
:global .text-h2 {
	font-size: 1.5rem;
}
:global .text-h3 {
	font-size: 1.2rem;
}
:global .text-h4 {
	font-size: 1rem;
}
:global .font-light {
	font-weight: 200;
}
:global .font-normal {
	font-weight: 400;
}
:global .font-bold {
	font-weight: 700;
}
:global .text-block {
	display: block;
}
:global .text-italic {
	font-style: italic;
}

:global .text-center {
	text-align: center;
}

:global .text-primary {
	color: vars.$primary-color;
}

:global .text-secondary {
	color: vars.$secondary-color;
}

:global .text-error {
	color: vars.$danger-color;
}
