@use '../../_variables' as vars;

.banner {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px;
  max-width: 100%;
  background-color: vars.$primary-color;
  padding: 20px;
  border-radius: 20px;
  color: #fff;
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__form {

  }
}