.feedback {
	margin: 30px 0;
	& > div:not(:last-child) {
		margin-bottom: 20px;
	}
	&__card {
		padding-top: 20px;
		padding-bottom: 20px;
		&_text {
			max-width: 90%;
			margin-left: 20px;
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
}
