@use "../../_variables" as vars;

.benefits__section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	margin: 30px 0;
	& > div {
		align-items: center;
	}
	& svg {
		width: 40px;
		height: 40px;
		color: vars.$primary-color;
	}
}
