// Цвета
$primary-color: #f88412;
$secondary-color: #04934f;
$success-color: #28a745;
$danger-color: #dc3545;
$primary-color-hover: #e46500;
$secondary-color-hover: #006a38;
$input-color: #ededed;
$input-color-hover: #e4e4e4;
$card-color: #f4f4f4;
$primary-light-color: rgba(207, 207, 207, 0.1);
$gray-dark-color: rgb(117, 117, 117);
$gray-light-color: rgb(227, 227, 227);
$gray-very-light-color: rgba(239, 239, 239, 0.3);

// Цвета для тегов
$online-color: #297ac8;
$offline-color: #812000;
$beginners-color: #007e20;
$intermediate-color: #ed0066;

// Шрифты
$font-family-primary: "Roboto", sans-serif;

// Отступы
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

// Скругление
$border-radius-m: 20px;
