@use '../../_variables' as vars;

.icon_circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: vars.$gray-light-color;
  display: flex;
  justify-content: center;
  align-items: center;
}