// Цвета
$primary-color: #F88412;
$secondary-color: #04934F;
$success-color: #28a745;
$danger-color: #dc3545;
$primary-color-hover: #d35c00;
$secondary-color-hover: #006a38;
$input-color: #e8e8e8;
$input-color-hover: #dadada;
$card-color: #f4f4f4;

// Шрифты
$font-family-primary: 'Roboto', sans-serif;

// Отступы
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;