// Цвета
$primary-color: #F88412;
$secondary-color: #04934F;
$success-color: #28a745;
$danger-color: #dc3545;
$primary-color-hover: #e46500;
$secondary-color-hover: #006a38;
$input-color: #e8e8e8;
$input-color-hover: #dadada;
$card-color: #f4f4f4;

// Цвета для тегов
$online-color: #297ac8;
$offline-color: #812000;
$beginners-color: #007e20;
$intermediate-color: #ed0066;

// Шрифты
$font-family-primary: 'Roboto', sans-serif;

// Отступы
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;